page-publish {
    ion-title{
        color: #fff;
    }
    .searchbar-ios{
        min-height: 36px;
        border: none;
    }
    ion-navbar{
        .button-ios{
            height: 1.8em;
        }
    }
    .content-ios{
        background: #eee;
    }
    ion-content{
        
        .card-ios{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            box-shadow: none;
            margin-top: 0px; 
        }
        ion-card{
            .main_img{
                padding-left: 16px;
                padding-right: 16px;
            }
            ion-avatar{
                img{
                    height: 44px!important;
                    width: 44px!important;
                }
                
            }
            ion-card-content p{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-break: break-all;
            }
        }
        ion-row{
            text-align: center;
            .col{
                padding: 0px;
                border-top:1px solid #eee;
            }
        }
    }
}
